<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <title>Kurser</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <div class="container">
    <h1>Alla kurser</h1>
    

</body>
</html>
